@import '../../../../styles/colors';

.accordion__container {
	background-color: transparent !important;
	color: $dark-gray !important;

	.accordion__icon {
		pointer-events: auto;
	}

	.accordion__summary {
		flex-direction: row-reverse !important;
		align-items: flex-start !important;
		user-select: text;
		pointer-events: none;

		.summary__content {
			width: 100%;

			.summary__content__row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				gap: 1rem;

				.parameter__name {
					color: black;
					font-weight: 600 !important;
					font-size: 1.2rem !important;
				}
			}
		}
	}
}

@media (min-width: 640px) {
	.summary__content__row {
		justify-content: space-between !important;
	}
}
