@import '../../../../styles/colors';

.link__parameter {
	font-weight: 600;
	font-size: 1.5rem;
	text-decoration: underline;
}

.content__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.description__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	flex-wrap: wrap;

	color: $dark-gray;

	.description {
		word-break: break-all;
	}
}

.parameter__results__container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0.5rem;

	color: $dark-gray;
}

.match__container {
	align-self: flex-end;
	text-align: center;
}

.match__bar__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap-reverse;
	flex: 1;

	gap: 0.5rem;
}

.similarity__score {
	justify-self: flex-end;
}

@media (min-width: 640px) {
	.match__bar__container {
		flex-wrap: nowrap;
	}
}

@media (min-width: 400px) {
	.content__container {
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}

	.description__container {
		grid-column: span 9 / span 9;
	}

	.parameter__results__container {
		grid-column: span 3 / span 3;
	}
}
