@import '../../../styles/colors';
@import '../../../styles/constants';

.container {
	background-color: $light-gray;
	border-radius: $rounded-full;
	border-width: 0;
	color: black;

	padding-inline: 1rem;
	padding-block: 0.5rem;
	width: 100%;

	&:focus {
		outline: 2px solid $outline;
	}

	&::placeholder {
		color: black;
	}
}
