@import '../../../styles/colors';
@import '../../../styles/constants';

.container {
	background-color: $gray;
	height: 1.25rem;
	width: 100%;
	border-radius: $rounded-full;
}

.fill__bar {
	height: 1.25rem;
	border-radius: $rounded-full;
}
