@import '../../../../styles/colors';

.container {
	padding-inline: 0.5rem;
	padding-block: 0.125rem;
	border-radius: 2rem;
	background-color: $gray;
	word-break: break-all;
	height: fit-content;
	text-align: center;
	width: fit-content;
}
