@import 'layout';
@import 'typography';

.container {
	@extend .base__container;
}

.title {
	@extend .header__one;
}

.answer__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	margin-block: 1rem;
}
