@import 'layout';

.container {
	@extend .base__container;
	width: 100%;
	align-items: normal;
	justify-content: normal;
}

.answer__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	margin-block: 1rem;
}

.header__one {
	font-size: 2.25rem;
	font-weight: 700;
}
