.container {
	display: flex;
	justify-content: center;

	@media (min-width: 400px) {
		justify-content: end;
	}
}

.links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}
