@import '../../../../styles/colors';
@import '../../../../styles/constants';

.container {
	list-style: none;
}

.link {
	border-radius: $rounded-full;
	padding-inline: 1rem;
	padding-block: 0.25rem;
	font-size: 1.125rem;
	color: black;
	transition: all 500ms ease-in-out;

	&.selected {
		background-color: $light-gray;
	}

	&:hover {
		opacity: $opacity-transition;
	}
}
