@import '../../../../styles/colors';

.container {
	list-style: none;
}

.link {
	border-radius: 9999px;
	padding-inline: 1rem;
	padding-block: 0.25rem;
	font-size: 1.125rem;
	color: black;

	&.selected {
		background-color: $LightGray;
	}

	&:hover {
		opacity: 0.8;
	}
}
